<div>
  <%= form_with model: @comment, url: path, data: {turbo: false} do |f| %>
    <div>
      <% if @comment.errors.any? %>
        <div>
          <% comment.errors.each do |error| %>
            <%= error.full_message %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit %>
  <% end %>
</div>