<h1><%= @post.title %></h1>
<h3>Author: <%= @post.user.email %></h3>

<% @comments.each do |comment| %>
      <div class="card" style="width: 100%">
        <div class="card-header">
          User: <%= comment.user.email %>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"  style="height: 250px"><%= comment.content %></li>
          <li class="list-group-item"><%= comment.created_at %></li>
          <li class="list-group-item"><div class="container">
            <div class="row text-lg-start">
              <div class="col-sm-1">
                <%= link_to "edit", edit_post_comment_path(@post, comment), class: "btn btn-warning" if comment.user == current_user  %>
              </div>
              <div class="col-sm-1">
                <%= button_to "delete", post_comment_path(@post, comment), method: :delete, class: "btn btn-danger" if comment.user == current_user %>
              </div>  </div>  </div>
            </li>
        </ul>
      </div>
    <% end %>

    <%= render partial: 'form', locals: { comment: @post.comments.new, path: post_comments_path(@post) } %>
