  <h1>Comments Section</h1>
<h3>Title: <%= @post.title %></h3>

  <div>
    <% @comments.each do |comment| %>
      <%= comment.content %>
     <br>
      <%= comment.created_at %>
      <br>
      <%= link_to "edit", edit_post_comment_path(@post, comment) %>
      <%= button_to "delete", post_comment_path(@post, comment), method: :delete %>
      <br>
    <% end %>
  </div>

  <%= link_to "Index", posts_path %>