<div>
  <% if @post.errors.any? %>
    <% @post.errors.each do |error| %>
      <h3 style="color: #c11111"><%= error.full_message %> </h3>
    <% end %>
  <% end %>
</div>
<%= form_with model: @post do |f| %>
  <div class="container w-50">
    <div class="form-control bg-light">
      <h4 class="text-center">Please Enter the Following</h4>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <%= f.text_field :title, class: "form-control te", id: "exampleFormControlInput1" %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Content</label>
        <%= f.text_area :content, class: "form-control", id: "exampleFormControlInput1", style: "height: 250px" %>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
        <%= f.text_area :address, class: "form-control", id: "exampleFormControlInput1", style: "height: 50px" %>
      </div>
      <div class="text-center">
        <label for="name">Disaster Type: </label>
        <div class="m-2"><%= f.collection_check_boxes :category_ids, Category.all, :id, :name %> <%= link_to "[+]Other", categories_path, style: "text-decoration: none; color: blue" %></div>
        <%#= f.collection_select :category_ids, Category.all, :id, :name, include_blank: true %>
        <div class="text-center pt-3 mb-3"><%= f.submit "Update", class: "btn btn-success" %></div>
      </div>
    </div>
  </div>
<% end %>




