<h1>Disaster Information List
  <span class="badge btn btn-success">
  <%= link_to 'Create New', new_post_path, style: "text-decoration: none; color: white" %>
  </span>
</h1>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <h2>Hot Topics</h2>
  <% @hot_posts.each do |hot| %>
  <div class="card-body">
    <h5 class="card-title"><%= hot.title %></h5>
    <p class="card-text"><%= hot.content %></p>
    <%= hot.categories.pluck(:name).join(',') %>
    <%= hot.comments_count %>
    <a href="#" class="btn btn-primary">sd</a>
  <% end %>
  </div>
</div>


<table class="table text-center table-striped">
  <thead class="table-dark">
  <tr>
  <td>Title</td>
  <td>Content</td>
  <td>Address</td>
  <td>Disaster Type</td>
  <td colspan="3">Action</td>
  <td colspan="3">Comments</td>
    <td>User</td>
  </tr>
  </thead>
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.address %></td>
    <td><%= post.categories.pluck(:name).join(',') %></td>
    <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %></td>
    <td><%= button_to 'Delete', post_path(post), method: :delete, class: "btn btn-danger" %></td>
    <td><%= link_to 'Show', post_path(post), class: "btn btn-info" %></td>
    <td><%= post.comments_count %></td>
    <td><%= link_to "Comments", post_comments_path(post), class: "btn btn-success" %></td>
    <td><%= link_to "New Comment", new_post_comment_path(post), class: "btn btn-success" %></td>
    <td><%= post.user.email %></td>
  </tr>
  <% end %>
</table>






